* {
  box-sizing: border-box;
}

$primary-color: #fd2d01;
$secondary-color: #ffd7d7;
$tertiary-color: #4e5166;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flex-center;
  background: $tertiary-color;
}
