@import "../../utiles/_settings.scss";

.account_ctn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  .user-name-profil {
    padding-right: 25px;
    padding-bottom: 20px;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: bold;
    align-items: center;
  }
}

.logout_ctn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    cursor: pointer;
    &:hover {
      background: none;
      color: $primary-color;
      cursor: pointer;
      transition: 0.25s ease;
    }
  }
  .user-name-profil {
    font-size: 25px;
    text-transform: capitalize;
  }

  &-icon {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .logout_ctn {
    font-size: 15px;
    .user-name-profil {
      font-size: 16px;
    }
  }
}
